{% extends 'base.html' %}

{% load tags_library %}

{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/index.css' %}">
{% endblock %}

{% block title %}
    Меню
{% endblock %}

{% block content %}
    <h1>Приложение Гороскоп</h1>
    <ul>
        {% for zodiac, value in zodiac_dict.items %}
            <li><a href="{% url 'zodiac-info' sign_zodiac=zodiac %}"> {{value|description|split|first}} </a></li>
        {% endfor%}
    </ul>
{% endblock %}