{% extends 'base.html' %}

{% load static%}

{% block css_additional %}
    <link rel="stylesheet" href="{% static 'horoscope/css/zodiacs_by_type.css' %}">
{% endblock %}

{% block title %}
  {% if zodiacs_list %}
    Знаки зодиака стихии {{type_zodiac|title}}
  {% else %}
    Ошибка
  {% endif %}
{% endblock%}

{% block content%}
  {% include 'includes/navbar.html'%}

    {% if zodiacs_list%}
      <h1>Знаки зодиака стихии {{type_zodiac|title}}</h1>
        <ul>
          {% for zodiac in zodiacs_list %}
            <li><a href="{% url 'zodiac-info' sign_zodiac=zodiac %}">{{zodiac|title}}</a></li>
          {% endfor %}
        </ul>
    {% else %}
      <h1>Неверная стихия - {{type_zodiac}}</h1>
    {% endif %}
{% endblock %}